body {
    background-image: url(https://images.pexels.com/photos/1687944/pexels-photo-1687944.jpeg?auto=compress&cs=tinysrgb&w=1600);}
    
    #content {color: palevioletred;
    background-color: white; 
    padding: 100px;
    border: solid hotpink 10px;}

    #main {
        background-color: palevioletred;
        color: white;
        padding: 30px ;
        text-align: center;
        border: hotpink solid 10px;
        margin: 100px;}
