.flex-container{
    display: flex; 
    background-color: hotpink;
    height: 500px;
    flex-direction: row;
    justify-content:center;
    vspace-evenlyalign-items: center;
    justify-content: space space-evenly;
}

.item{
    color: white;
    height: 50px;
    width: 50px;
    background-color: pink;
    margin: 5px;
}

