body, ul{
    margin: 0%;
}

ul{
    display: flex;
    list-style: none;
    padding-left: 0%;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
    gap: 20px;
    padding: 20px;
}

nav{
    background-color: rgb(255, 182, 229);
}

#home{
    margin-right: auto;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    ul {
        flex-direction: column;
        height: 10vh;

    }

    #home{
        margin-right: 0%;
    }
}